extends layout

block content
    h1 Multiplotter Admin
    p MultiPlotter CMS

    ul(class="menu vertical")
        li
            a(href="/plotter/") Plotters
        li
            a(href="/supplies/") Suministros
        li
            a(href="/parts/") Repuestos
        li
            a(href="/services/") Servicios
