doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="row")
            div(class="columns medium-12")
                block menu
                hr
        div(class="row")
            div(class="columns medium-12")
                block content

        script(src='/javascripts/jquery.js', type='text/javascript')
        script(src='/javascripts/foundation.js', type='text/javascript')
        script(src='/javascripts/main.js', type='text/javascript')
        block javascript
        footer
            div(class="row")
                div(class="columns medium-4")
                    span &copy; Multiplotters
