body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

footer {
    padding: 40px 0px;
    color: #000;
    margin-top: 20px;
}

label.error {
    color: #da3116;
}

label.error input{
    border: solid #da3116 1px;
}